*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  height: 40px;
  width: 70px;  
}
#user{
  padding: 10px;
  border-radius: 3px;
}
.gogle{
  height: 70%;
  width: 100%;
  display: none;  
}
#output{
  overflow: scroll;
  height:80%;
  width: 100%;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.phone{
  background-image: url("https://wallpaperaccess.com/full/1200362.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80%;
  width: 20%;
  border: 3px solid black;
  border-radius: 5px;
  background-color: gainsboro;
}
#camera{
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 5px;
}
.top{
  display: flex;
  justify-content: space-between;
  height: 25px;
  width: 100%;
  margin-top: 5px;
}
#wy{
  color:lightgreen;
}
.app{
  height: 50px;
  width: 50px;
  background-color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
}
.ap img{
  height: 50px;
  width: 50px;
  background-color: white;
  font-size: 30px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
}
#one{
  
  background-size: cover;
  background-repeat: repeat;
}
#two{
  
  background-size: cover;
  background-repeat: repeat;
}
#three{

  background-size: cover;
  background-repeat: repeat;
}
#four{  background-size: cover;
  background-repeat: repeat;
}
.h{
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.m1{
  height: 100px;
  width: 60px;
  background-color: beige;
}
.bb{
  display: flex;
  height: 40%;
  width: 100%;
  background-color: aliceblue;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  display: none;
}
#wy img{
  height: 50px;
  width: 50px;
  background-color: white;
  font-size: 30px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
}
.middle{
  height: 70%;
  width: 100%;  
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
  
}
#cam{
  display: none;
}
.cal{
  display: none;  
}
.clr {
  height: 40px;
  width: 40px;
  background-color: dimgray;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 10px;
  border: none;
}
.clr:hover{
  color: black;
}
.end{
  display: flex;
  justify-content: center;
  align-items: center;
}

